<div class="div-common div-small-screen container-fluid" style="background: #acc8e5;">
    <div class="row" style="text-align: center; vertical-align: middle; padding: 7% 0% 7% 0%;">
        <h1 style="font-weight: 900; font-size: xx-large;">Copyrights of the Website</h1>
        <div class="col-2"></div>
        <div class="col-8">
            <p style="font-size: larger; text-align: center;">
                No Part of this website can be copied, reproduced, distributed, modified, reused, transmitted without my permission in any form including cloning the source code or any part of it in any form or by any means, electronic or mechanical, including photocopying, recording, or other electronic or mechanical methods, information storage and retrieval systems, or other similar devices, except as may be expressively permitted in writing by me. Request for any such permissions should be addressed to me at <a href=" nvamsikrishna.neelam@gmail.com">nvamsikrishna.neelam&#64;gmail.com</a>. Any violations to this can be reported to me at <a href=" nvamsikrishna.neelam@gmail.com">nvamsikrishna.neelam&#64;gmail.com</a> which can lead to Legal Action against the user who violated this policy.
            </p>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<div class="div-common div-medium-screen container-fluid" style="background: #acc8e5;">
    <div class="row" style="text-align: center; vertical-align: middle; padding: 7% 0% 7% 0%;">
        <h1 style="font-weight: 900; font-size: xx-large;">Copyrights of the Website</h1>
        <div class="col-2"></div>
        <div class="col-8">
            <p style="font-size: larger; text-align: center;">
                No Part of this website can be copied, reproduced, distributed, modified, reused, transmitted without my permission in any form including cloning the source code or any part of it in any form or by any means, electronic or mechanical, including photocopying, recording, or other electronic or mechanical methods, information storage and retrieval systems, or other similar devices, except as may be expressively permitted in writing by me. Request for any such permissions should be addressed to me at <a href=" nvamsikrishna.neelam@gmail.com">nvamsikrishna.neelam&#64;gmail.com</a>. Any violations to this can be reported to me at <a href=" nvamsikrishna.neelam@gmail.com">nvamsikrishna.neelam&#64;gmail.com</a> which can lead to Legal Action against the user who violated this policy.
            </p>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<div class="div-common div-large-screen container-fluid" style="background: #acc8e5;">
    <div class="row" style="text-align: center; vertical-align: middle; padding: 7% 0% 7% 0%;">
        <h1 style="font-weight: 900; font-size: xx-large;">Copyrights of the Website</h1>
        <div class="col-2"></div>
        <div class="col-8">
            <p style="font-size: larger; text-align: center;">
                No Part of this website can be copied, reproduced, distributed, modified, reused, transmitted without my permission in any form including cloning the source code or any part of it in any form or by any means, electronic or mechanical, including photocopying, recording, or other electronic or mechanical methods, information storage and retrieval systems, or other similar devices, except as may be expressively permitted in writing by me. Request for any such permissions should be addressed to me at <a href=" nvamsikrishna.neelam@gmail.com">nvamsikrishna.neelam&#64;gmail.com</a>. Any violations to this can be reported to me at <a href=" nvamsikrishna.neelam@gmail.com">nvamsikrishna.neelam&#64;gmail.com</a> which can lead to Legal Action against the user who violated this policy.
            </p>
        </div>
        <div class="col-2"></div>
    </div>
</div>