<div class="container-fluid">
    <div class="row" style="background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 90%);    
    text-align: center; vertical-align: middle; padding: 17% 0%;">
        <div class="heading">
            <div class="col-lg-12 col-md-12 d-sm-none d-xs-none d-md-block d-none">
                <p style="font-size: 75px; margin-top: 15px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: 500; text-align: center; vertical-align: middle;">Connect with Me :)</p>
                <br/><br/><br/>
                <p style="font-size: 35px; font-weight: 600;">I am here for job oppurtunities </p>
            </div>
            <div class="col-sm-12 col-xs-12 d-lg-none d-md-none">
                <p style="font-size: 35px; margin-top: 15px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: 500; text-align: center; vertical-align: middle;">Connect with Me :)</p>
                <br/><br/><br/>
                <p style="font-size: 25px; font-weight: 600;">I am here for job oppurtunities </p>
            </div>
        </div>
        <div style="padding-top: 5%;">
            <a href="https://drive.google.com/file/d/1oGOq3GlInmgFMUXudu64SsvZyUaU9aHJ/view?usp=drive_link" target="_blank">
                <button type="button" style="border-radius: 10px;" class="btn btn-success btnAnimation">
                    <span style="border-radius: 10px; padding: 25px; font-size: 35px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: 500; text-align: center; vertical-align: middle;">
                        View Resume
                    </span>
                </button>
            </a>
        </div>
    </div>
    <div class="row" style="background: #acc8e5; text-align: center; vertical-align: middle; padding: 7% 0% 7% 0%;">
        <p style="font-size: x-large; font-weight: 600;">Honors and Achievements</p>
        @for(photo of honor; track honor){
            <div *ngIf="photo.sno % 2 == 1" class="col-1"></div>
            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-2 col-xs-2">
                <img style="margin: 5px; padding-right: 5px;" [src]=photo.url alt="My Picture goes here" class="img-fluid imgCard">
            </div>
            <div *ngIf="photo.sno % 2 == 0" class="col-1"></div>
        }
    </div>
    <div class="row" style="background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    text-align: center; vertical-align: middle; padding: 7% 0% 7% 0%;">
        <div class="col-1"></div>
        <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10">
            <mat-card class="mat-card" style="margin: 5px; text-align: center; background-color: rgb(69, 62, 62); color: white; border-radius: 10px;">
                <mat-card-content>
                    <h1 class="cardTitle">Email Me</h1>
                    <h3>Send me an Email, I will get back to you as soon as I can !</h3>
                    <a href= "mailto: nvamsikrishna.neelam@gmail.com"> 
                        <button type="button" class="btn btn-primary btnAnimation">
                            nvamsikrishna.neelam&#64;gmail.com
                        </button>
                    </a>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10">
            <mat-card class="mat-card" style="margin: 5px; text-align: center; background-color: rgb(69, 62, 62); color: white; border-radius: 10px;">
                <mat-card-content>
                    <h1 class="cardTitle">Connect via LinkedIn</h1>
                    <h3>Let’s connect and share valuable insights.</h3>
                    <a href= "https://www.linkedin.com/in/neelam-v-193150173/" target="_blank"> 
                        <button type="button" class="btn btn-info btnAnimation">
                            linkedin.com/in/neelam-v-193150173/
                        </button>
                    </a>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-1"></div>
    </div>
</div>