<div class="container-fluid">
    <div class="row" style="background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 90%);    
    text-align: center; vertical-align: middle; padding: 17% 0%;">
        <div class="heading">
            <div class="col-lg-12 col-md-12 d-sm-none d-xs-none d-md-block d-none">
                <p style="font-size: 75px; margin-top: 15px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: 500; text-align: center; vertical-align: middle;">Connect with Me :)</p>
                <br/><br/><br/>
                <p style="font-size: 35px; font-weight: 600;">I am here for job oppurtunities </p>
            </div>
            <div class="col-sm-12 col-xs-12 d-lg-none d-md-none">
                <p style="font-size: 35px; margin-top: 15px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: 500; text-align: center; vertical-align: middle;">Connect with Me :)</p>
                <br/><br/><br/>
                <p style="font-size: 25px; font-weight: 600;">I am here for job oppurtunities </p>
            </div>
        </div>
    </div>
    <div class="row" style="background: lightgray; text-align: center; vertical-align: middle; padding: 7% 0% 7% 0%;">
        <div class="col-1"></div>
        <div class="col-sm-1 col-md-5 col-lg-5 col-xl-5">
            <img style="margin: 5px; padding-right: 5px;" src="./assets/headshot.jpg" alt="My Picture goes here" class="img-fluid imgCard">
            <!-- <img style="margin: 5px;" src="./assets/test.jpg" alt="My Picture goes here" class="img-fluid imgCard"> -->
        </div>
        <div class="col-sm-1 col-md-5 col-lg-5 col-xl-5">
            <mat-card class="mat-card" style="margin: 5px; text-align: left;">
                <mat-card-content>
                    <h1 class="cardTitle">Hello,</h1>
                    <h1 class="cardTitle">VAMSIKRISHNA NEELAM, here !</h1>
                    <h3>I am an Experienced Full Stack .Net Developer with 2 Years of Full time experience</h3>
                    <br/>
                    <h4>Angular 7+, .Net Framework, .Net core, MS Sql Server is my technical skill stack ! </h4>
                    <h5>My interests </h5>
                    <h5>
                        Driven by a deep-seated passion for innovation and excellence, I am enthusiastically pursuing an opportunity within a renowned organization where I can leverage my technical expertise and creative prowess. With a fervent commitment to continuous learning and growth, I am inherently self-motivated and possess a rapid learning ability. I approach tasks with determination and efficiency, always striving to surpass expectations and contribute to the organization's triumphs. Eager to engage with diverse stakeholders, I am adept at fostering meaningful connections and adeptly navigating challenges through strategic problem-solving and critical thinking. I am dedicated to honing my skills, embracing new knowledge, and achieving exceptional results in every endeavor.
                    </h5>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-1"></div>
    </div>
</div>