<div class="container-fluid" style="background-color: blue;">
    <div class="row" style="background-color: lightgrey; text-align: center; vertical-align: middle;">
        <div class="col-sm-1 col-md-1 col-lg-6 col-xl-6">
            <img style="margin: 5px;" src="./assets/test.jpeg" alt="My Picture goes here" class="img-fluid imgCard">
        </div>
        <div class="col-sm-1 col-md-1 col-lg-6 col-xl-6">
            <mat-card class="mat-card" style="margin: 5px; text-align: left;">
                <mat-card-content>
                    <h1 class="cardTitle">Hello,</h1>
                    <h1 class="cardTitle">VAMSIKRISHNA NEELAM, here !</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Convallis a cras semper auctor neque vitae tempus quam pellentesque. Imperdiet nulla malesuada pellentesque elit eget gravida cum sociis natoque. A condimentum vitae sapien pellentesque habitant morbi tristique senectus. Felis imperdiet proin fermentum leo vel orci porta non pulvinar. Pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat. Scelerisque viverra mauris in aliquam sem fringilla ut morbi tincidunt. Id aliquet lectus proin nibh nisl. Egestas pretium aenean pharetra magna ac. Sem et tortor consequat id porta nibh venenatis cras. Vel pretium lectus quam id leo. Nulla facilisi etiam dignissim diam quis enim lobortis scelerisque. Odio ut enim blandit volutpat.
                    </p><br />
                    <p>
                        Donec massa sapien faucibus et molestie. Felis donec et odio pellentesque diam volutpat. Nunc sed augue lacus viverra vitae congue eu consequat. Et malesuada fames ac turpis egestas sed tempus urna et. Egestas pretium aenean pharetra magna ac. Nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae. Turpis massa sed elementum tempus egestas sed sed risus. Sed euismod nisi porta lorem. Sed augue lacus viverra vitae congue eu consequat ac. Risus quis varius quam quisque id. Ac ut consequat semper viverra nam libero.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>