<div class="container-fluid">
  <app-main-block></app-main-block>
  <div class="row" style="background-color: #FA8BFF; background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);">
    <div style="padding: 7% 0%;">
      <h1><b>My Work Experience</b></h1>
      <ul>
          <li style="--accent-color:#7f007f">
              <div class="date">05 February, 2025 - 30 April, 2025</div>
              <div class="card">
                <div class="card-body">
                    <div class="title"><b style="font-size: 16px;">Software Developer at AIOWL for ALL LLC</b></div>
                    <div class="descr">I worked on the developement of the AIOWL LLC Website and also worked on the developement of a product
                        which is being used for crime investigation which uses AI Chatbot for getting out the important information of the crime case details being uploaded which involves working in Angular V19 and python's Fast Api framework for creating the REST API and also worked for teaching AI Through gaming modules to the High School Students to make them aware of using the Tools like julius, perplexity etc for efficient day to day problem solving in daily life. I also made use of Amazon AWS Cloud for deploying and hosting the website apart from creating a cloud server for this purpose.</div>
                </div>
              </div>
          </li>
          <li style="--accent-color:#41516C">
              <div class="date">03 July, 2022 - 23 December, 2022</div>
              <div class="card">
                <div class="card-body">
                    <div class="title"><b style="font-size: 16px;">Associate Software Engineer at Everi India Pvt Ltd</b></div>
                    <div class="descr">I am an Experienced associate developer proficient in Angular development, with a track record of successfully developing and integrating software solutions. Skilled in designing interfaces and integrating APIs to enhance project functionality. Collaborative team player who worked closely with development and testing teams to identify and resolve project bugs. Specialized in creating the Connector Module API Simulator and Game Simulator in Angular 12, and contributed to the integration of various APIs for gaming applications. Dedicated to delivering high-quality solutions that meet design requirements and exceed client expectations.Also worked on setting up the pipelines for CI/CD apart from working on DevOps and also made use of RabbitMQ, Kubernetes for creaitng efficient Data pipelines</div>
                </div>
              </div>
          </li>
          <li style="--accent-color:#FBCA3E">
              <div class="date">14 February, 2022 - 31 May 2022</div>
              <div class="card">
                <div class="card-body">
                    <div class="title"><b style="font-size: 16px;">Software Engineer at Mars India Pvt Ltd</b></div>
                    <div class="descr">I had Contributed to the MARS version 10 product release features design, development, and Unit testing as a Software Engineer. Conducted Unit Testing on the developed Api’s and Angular Interfaces and resolved the errors achieving 100% accuracy. Also worked on the DevOps for CI/CD Pipelines and also for trouble shooting the various application issues.</div>
                </div>
              </div>
          </li>
          <li style="--accent-color:#E24A68">
              <div class="date">21 January, 2021 - 05 February, 2022</div>
              <div class="card">
                <div class="card-body">
                    <div class="title"><b style="font-size: 16px;">Software Engineer at Option Matrix Infotech</b></div>
                    <div class="descr">Designed Various Angular UI Projects for the requirements of the clients for responsive web interfaces.Integrated .Net Web Api Framework using the Linq to Sql and Entity framework into Angular for complete functionality of the Project.Deployed the project onto the AWS server successfully for further development and feedback from the Clients.Maintained the source code on the Git Version Control System and the databases alongside the projects.Made use of Github Actions and AWS Cloud for setting up the CI/CD and also for making the DevOps for the existing projects based on the client needs.</div>
                </div>
              </div>
          </li>
          <li style="--accent-color:#6FC276">
              <div class="date">16 July, 2021 - 21 November, 2020</div>
              <div class="card">
                <div class="card-body">
                    <div class="title"><b style="font-size: 16px;">Freelance Software Engineer at Naukri Self Employed</b></div>
                    <div class="descr">Worked on different projects for designing and developing the user interfaces and front end web user interfaces using different technologies like HTML, CSS, Bootstrap, Tailwind CSS, React, Typescript, Javascript, Agnular 6+, jQuery, GitHub for version control system, AWS cloud for web site hosting DevOps operations etc</div>
                </div>
              </div>
          </li>
          <li style="--accent-color:#FDB0C0">
              <div class="date">08 January, 2018 - 30 June, 2018</div>
              <div class="card">
                <div class="card-body">
                    <div class="title"><b style="font-size: 16px;">Web Developer Intern at Effective Electronic Systems</b></div>
                    <div class="descr">Designed Various screens for the website development alongside the User Interface development using technologies like HTML, CSS, BootStrap, Javascript, jQuery, AJAX. Also hosted the website on Microsoft Azure Cloud Server to be made available for the public and also made use of GitHub version control system for code maintenance and development.</div>
                </div>
              </div>
          </li>
          <!-- <li style="--accent-color:#1B5F8C">
              <div class="date">2017</div>
              <div class="title">Title 4</div>
              <div class="descr">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, cumque.</div>
          </li>
          <li style="--accent-color:#4CADAD">
              <div class="date">2022</div>
              <div class="title">Title 5</div>
              <div class="descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, non.</div>
          </li> -->
      </ul>
    </div>
  </div>
</div>