@use postcss-preset-env {
    stage: 0;
}

:root {
    --color-background: #000119;
    --stroke-width: calc(1em / 16);
    --font-size: 30vmin;
    --font-weight: 700;
    --letter-spacing: calc(1em / 8);
}

.nav-link{
    color: black;
    font-size: large;
}

.nav-link.active{
    background-color: rgb(172, 115, 225);
}

mat-icon{
    vertical-align: bottom;
}

@media (min-width: 991px) {
    .navbar-brand{
        display: none;
        background-clip: text;
        background-image: linear-gradient(to right, #09f1b8, #00a2ff, #ff00d2, #fed90f);
        color: var(--color-background);
        font-size: var(--font-size);
        font-weight: var(--font-weight);
        letter-spacing: var(--letter-spacing);
        padding: calc(--stroke-width / 2);
        -webkit-text-stroke-color: transparent;
        -webkit-text-stroke-width: var(--stroke-width);
        font-family: Poppins, sans-serif;
    }
}

@media (max-width: 320px) {
    #body{
        margin-top: 16%;
    }
    #footer{
        height: 150px;
        span{
            margin-top: 15%;
        }
    }
}

@media (max-width: 375px) and (min-width: 321px) {
    #body{
        margin-top: 15%;
    }
    #footer{
        height: 150px;
        span{
            margin-top: 15%;
        }
    }
}

@media (max-width: 425px) and (min-width: 376px) {
    #body{
        margin-top: 13%;
    }
    #footer{
        height: 150px;
        span{
            margin-top: 15%;
        }
    }
}

@media (max-width: 768px) and (min-width: 426px) {
    #body{
        margin-top: 7.3%;
    }
    #footer{
        height: 150px;
        span{
            margin-top: 10%;
        }
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    #body{
        margin-top: 6%;
    }
    #footer{
        height: 150px;
        span{
            margin-top: 6.8%;
        }
    }
}

@media (max-width: 1440px) and (min-width: 1025px) {
    #body{
        margin-top: 4.6%;
    }
    #footer{
        height: 150px;
        span{
            margin-top: 5%;
        }
    }
}

@media (min-width: 1441px) {
    #body{
        margin-top: 2.5%;
    }
    #footer{
        height: 150px;
        span{
            margin-top: 3%;
        }
    }
}