@use postcss-preset-env {
    stage: 0;
}

:root {
    --color-background: #000119;
    --stroke-width: calc(1em / 16);
    --font-size: 30vmin;
    --font-weight: 700;
    --letter-spacing: calc(1em / 8);
}

.nav-link{
    color: purple;
    font-size: large;
}

.nav-link.active{
    background-color: rgb(172, 115, 225);
}

mat-icon{
    vertical-align: bottom;
}

span{
    color: #3a0ca3;
}

/* For diplsaying my website name on small screens */
@media (min-width: 991px) {
    .navbar-brand{
        display: none;
    }
}

/* Mobile Small */
@media (max-width: 320px) {
    #body{
        margin-top: 25%;
    }
    #footer{
        height: 150px;
        span{
            margin-top: 15%;
        }
    }
}

/* Mobile Medium */
@media (max-width: 375px) and (min-width: 321px) {
    #body{
        margin-top: 21%;
    }
    #footer{
        height: 150px;
        span{
            margin-top: 15%;
        }
    }
}

/* Mobile Large */
@media (max-width: 425px) and (min-width: 376px) {
    #body{
        margin-top: 19%;
    }
    #footer{
        height: 150px;
        span{
            margin-top: 15%;
        }
    }
}

/* Tablet */
@media (max-width: 768px) and (min-width: 426px) {
    #body{
        margin-top: 10.3%;
    }
    #footer{
        height: 150px;
        span{
            margin-top: 10%;
        }
    }
}

/* Laptop */
@media (max-width: 1024px) and (min-width: 769px) {
    #body{
        margin-top: 6.5%;
    }
    #footer{
        height: 150px;
        span{
            margin-top: 6.8%;
        }
    }
}

/* Laptop Large */
@media (max-width: 1440px) and (min-width: 1025px) {
    #body{
        margin-top: 4.6%;
    }
    #footer{
        height: 150px;
        span{
            margin-top: 5%;
        }
    }
}

/* 4K */
@media (min-width: 1441px) {
    #body{
        margin-top: 2.5%;
    }
    #footer{
        height: 150px;
        span{
            margin-top: 3%;
        }
    }
}

@keyframes cloudAnimation {
    from { background-position: 0 0; }
    to { background-position: -1000px 0; }
}

.cloud-background {
    background-image: url('../assets/cloud.jpg');
    animation: cloudAnimation 20s linear infinite;
}