<!-- Add fixed top class to make nav bar fixed at the top of page -->
<nav class="navbar navbar-expand-lg bg-light" style="position: fixed; left: 0; top: 0; width: 100%; z-index: 1;">
  <div class="container-fluid">
    <span></span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="row collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav nav-pills nav-fill gap-2 p-1 shadow-sm">
          <li class="nav-item">
              <button routerLink="/home" class="nav-link active rounded-5" id="home-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="true">
                <mat-icon class="material-symbols-outlined">
                  home
                </mat-icon>
                Home
              </button>
          </li>
          <li class="nav-item">
              <button routerLink="/education" class="nav-link rounded-5" id="education-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">
                <mat-icon class="material-symbols-outlined">
                  school
                </mat-icon>
                  Education
              </button>
          </li>
          <li class="nav-item">
              <button routerLink="/work-experience" class="nav-link rounded-5" id="work-experience-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">
                <mat-icon class="material-symbols-outlined">
                  work_history
                </mat-icon>
                  Work Experience
              </button> 
          </li>
          <li class="nav-item">
              <button routerLink="/resume" class="nav-link rounded-5" id="resume-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">
                <mat-icon class="material-symbols-outlined">
                  description
                </mat-icon>
                  Resume
              </button>
          </li>
          <li class="nav-item">
              <button routerLink="/skills" class="nav-link rounded-5" id="skills-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">
                <mat-icon class="material-symbols-outlined">
                  star_rate
                </mat-icon>
                Skills
              </button>
          </li>
          <li class="nav-item">
              <button routerLink="/certification" class="nav-link rounded-5" id="certification-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">
                <mat-icon class="material-symbols-outlined">
                  workspace_premium
                </mat-icon>
                  Certifications
              </button>
          </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet/>
<app-scroll-to-top></app-scroll-to-top>

<div style="text-align: center;background-color: gray; height: 25%;">
  <div class="row" style="height: 50%;">
  </div>
  <div class="row" style="height: 30%; align-items: center; justify-content: center;">
    <span style="font-size: x-large;">
      &#169; Copyrights Vamsikrishna Neelam
    </span>
  </div>
</div>